<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corycharlton.bittrexapi.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.AuthenticationActivity"
            android:label="@string/authentication"
            android:theme="@style/AppTheme.Alert" />

        <activity-alias
            android:name=".LauncherActivity"
            android:exported="true"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".activities.GetBalancesActivity" android:label="@string/balances" />
        <activity android:name=".activities.GetCurrenciesActivity" android:label="@string/currencies" />

    </application>

</manifest>